*{
    margin: 0;
    padding: 0;
}

header{
    border: 1px solid black;
    margin: 10px;
}

a{
    color: white;
}

section{
    border: 1px solid black;
    margin: 10px;
}

div{
    margin-bottom: 15px;
    border: 1px solid black;
    height: 250px;
}

footer{
    border: 1px solid black;
    margin: 5px;
}

.boton {
    border: none;
    color: beige;
    background-color: chocolate;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
    border: 2px solid white;
    background-color: black;
    color: white
}


#item1{
    background-color: #006241;
    text-align: center;
    color: white;
    align-items: center;
}

#item2{
    display: flex;
    background-color: #D40032;
}

#item3{
    display: flex;
    background-color: #D40032;
}

#imagen{
    width: 50%;
}

#texto{
    width: 50%;
    text-align: center;
    margin-top: 45px;
    color: white;
}